@media screen and (max-width:425px){
    .nav-container{
   
   flex-direction: column;
}


.nav-items-container{

    
    flex-direction: column;
}
.nav-items-container a{
    margin-top: 20px;


}
}
.banner-title-wag{

}
