/* navber section start here */

nav{
    background-color:#fff ;
}
.nav-container{
   
   max-width:  1920px;
height: 130px;
display: flex;
align-items: center;
margin: 0 auto;

}
.logo-container{
    
    display: flex;
    width: 50%;
}
.logo-container img{
   
padding: 44px;
    
height: 40px;
object-fit: cover;
}
.logo-container p{
   font-size: 2.81rem; 
   
   color:
font-family: Work Sans;
font-weight: 700;
}
.gamer-g{
    color: #FF42A5;
}
.nav-items-container{

    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items-container a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.follow-us-on-btn{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
padding: 10px 20px;
font-weight: 500;
}


/* navber section end here */


/* banner 1 design started */
/* banner 1 text area started */
section{
    text-align: center;
    padding-top: 5px;
   

}
.banner-container{
 
   margin: 50px auto 0;
   max-width: 1920px;
   height:570px;
   display:flex;

}


.banner-text{
  
    width:55%;
    
}


.banner-plt{
    
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 48px;
font-weight: 600;
text-transform: uppercase;

}


.banner-goat{
   padding-top: auto;
    text-align: center;
font-family: Work Sans;
font-size: 95px;
font-weight: 800;
text-transform: uppercase;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
 background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
-webkit-text-fill-color: transparent;
}
.banner-discription{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-weight: 500;
text-transform: none;
text-align: left;
padding-left: 22.5rem;

}
.banner-button{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    justify-content: center;
}
.banner-button button{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
}
.button-1{
    border-radius: 48px;

background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.button-1{
    color: #FFF;
font-family: Work Sans;
font-size: 20px;

font-weight: 600;
text-transform: uppercase;
border: none;
}
.button-2{
    border-radius: 48px;
background: #4EC5F7;

}
.button-2{
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
  font-weight: 600;
  text-transform: uppercase; 
    border: none;
}
/* banner 1 text area ended */
/* banner image area start */
.banner-img{
    
    width:45%;

}
.banner-img img{
    width:100%;
    height:100%;
}

/* banner image area end*/

/* banner 1 design end */



/* banner 2 design start */
/* banner 2 img area */
.banner-main-container{

}

.banner-container-2{
    margin: 50px auto 0;
   max-width: 1920px;
   height:600px;
   display: flex;
   justify-content: space-between;

}
.banner-img-2{
    width:50%;
    width: 868px;
height: 489px;
flex-shrink: 0;

}
.banner-img-2 img{
    width:100%;
    height:100%;
}


/* banner 2 img area end */
/* banner 2 text area */
.banner-text-2{
width:50%;
width:100%;
    height:100%;
    
}



.banner-title-wag{


font-family: Work Sans;

font-weight: 700;

}
.banner-title-wag{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: right;
font-size: 45px;
}

.banner-discription-2{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.banner-discription-end{
    width: 520px right ;
    
}

.banner-text-2 button{
    text-align: right;
}
.banner-btm{
    
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
border:none;
}
.banner-btm{
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase; 
    
}
.button-km{
    text-align: right;
}
    

.p-tag{
    text-align: end;
}

.our-purpose{
    color: #534C64;
font-family: Work Sans;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 45px; 

}

.unless-it{

    color: #534C64;
font-family: Work Sans;
font-size: 32px;
font-weight: 700;
line-height: 45px;
}

/* banner 2 text area */

/* banner 2 design end */

/* banner section 3 start game collection */

/* game collection header area start */
.game-collection{

}


.online-gmv{

}

.online-games{
    color: #0B0223;
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
}

.Funny-Videos{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
}

.games-collection-discription{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}








/* game collection header area end */
/* game collection img and img footer area start */


/* img area */

.img-container {

    display:flex;
    justify-content: center;
    gap: 24px;
   
}
.img-container img{
    idth: 342px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.img-1{
   

}
.img-2{
    
}
.img-3{

}
.img-4{

}

/* discription img */
.discription-on-img{

}

.discription-img{
display: flex;
justify-content: center;
gap:200px;
text-align: left ;

}

.discription-1{
    color: #534C64;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; 
padding-left: 70px;

}
.discription-2{
    olor: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    
}
.discription-3{
    olor: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
}
.discription-4{
    olor: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    
}

/* game collection img and img footer area start */


/********** banner section 3 end game collection *******************/

/***************** banner section 4 started *********/


/***** banner text area 4 *******/


.banner-item{
    display: flex;
    justify-content: space-between ;
    align-items: center;

padding-top: 50px;

}

.game-banner-container{

    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
   padding-left: 25rem;

}


.play-instantly{
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 125% */
}

.play-instantly1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.no-download{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}
.gameplay-discription{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.gameplay-discription{
    width: 353px;
}

/********* banner image area *******/

.game-img-container{
position: relative;
display: flex;
flex-direction: column ;



}
.game1-img{
    width: 634.833px;
    height: 650px;
    flex-shrink: 0;
}
.game1-img{

    border-radius: 8px;
background: url(<path-to-image>), lightgray -7.583px 0px / 102.389% 100% no-repeat;
}
.game2-img{
    position: relative;
    bottom: 255px ;
    width: 318.5px;
    height: 365.083px;
    flex-shrink: 0;
    bottom: ;
}

/***************** banner section 4 end *********/

/* Styling for the footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    padding: 20px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Styling for the logo and text */
.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 86.041px;
    height: 40px;
    margin-right: 10px;
}

.gamer-g {
    color: #FF42A; /* Change to your desired color */
}

/* Styling for the links and images */
.footer-links, .footer-images, .footer-policies {
    display: flex;
    flex-direction:row;
    gap:60px;
    align-items: center;
    font-family: Work Sans;
}



.footer-links p,{
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-weight: 600;
}
.footer-images img{
    width: 57.13px;
height: 40px;
flex-shrink: 0; 
}

.footer-policies p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
font-family: Work Sans;
font-size: 16px;
font-weight: 500;
}

/* Styling for the copyright text */
.footer-copyright {
    color: rgba(255, 255, 255, 0.60);
    margin-top: 20px;
    font-size: 12px;
}






/**************** Footer end *********/